extends layout

block content
  div(data-ng-controller='TrafficController')
    h1= title
    p Welcome to #{title}

    form(data-ng-submit='submit()')
      input(type='text', data-ng-model="address", placeholder='Address (City, State, Zip)', size=100)
      input(type='text', data-ng-model="radius", placeholder='Radius in miles', size=25)
      input(type="submit", value="Submit", id='submit')

    div.gridStyle(data-ng-grid='gridOptions', data-ng-if='results.length > 0')

    div(data-ng-bind='noResults')

    div.error(data-ng-bind='errorMessages')